/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  
}


/* ------------------------- MAIN ---------------------- */

html {
  background: #FAFAFA;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}


/* ------------------------ SPLASH SCREEN ----------------------- */


.splash-screen {
  margin-left: 15%;
  margin-top: 10%;
  height: 600px;
  width: 70%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #484747;
  border: 6px solid hsl(0, 100%, 50%);
  border-radius: 10px;
  -webkit-animation: rainbow 5s infinite alternate;
}

.splash-screen h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #FCFCFC;
}

.splash-screen button {
  width: 180px;
  height: 70px;
  text-transform: uppercase;
  margin-left: 42%;
  margin-top: 1%;
  font-weight: bold;
  background: gray, 0.1;
  border-radius: 10px;
}

.start-game-button {
  color: #FCFCFC;
  background: #5EFA4F;
  border: 2px solid #5EFA4F;
  transform: translate(0);
  transition-duration: 0.3s;
  font-size: 20px;
}

.start-game-medium {
  color: #FCFCFC;
  background: #FDE923;
  border: 2px solid #F1F11E;
  transform: translate(0);
  transition-duration: 0.3s;
  text-shadow: #484747;
  font-size: 20px;
}

.start-game-hard {
  color: #FCFCFC;
  background: #FD2D23;
  border: 2px solid #FD2D23;
  transform: translate(0);
  transition-duration: 0.3s;
  font-size: 20px;
}



.start-game-button:hover {
  transform: scale(1.1);
}
.start-game-medium:hover {
  transform: scale(1.1);
}
.start-game-hard:hover {
  transform: scale(1.1);
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

/* ----------------------------------- GAME SCREEN ------------------------- */

.game-container {
  display: flex;
  width: 80%;
  height: 800px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: url('Images/grassOne.jpg');
  border: 2px solid #FAFAFA;
  border-radius: 10px;
  
}


.game-screen {
  width: 350px;
  height: 795px;
  margin: 0 auto;
  
}

.main-canvas {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-image: url('Images/carretera.jpg')
  
}

.game-container h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #FAFAFA;
  animation: color-change 1s infinite;
  height: 50px;
  width: 230px;
  background: #FAFAFA;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  margin-left: 10%;
  margin-top: 10%;  
}


@-webkit-keyframes color-change {
  0% { 
    color: red;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
   }
  50% { color: blue; }
  100% { color: red;
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

/* ------------- GAME OVER SCREEN ----------------- */

.game-over-screen {
  display: flex;
  margin-left: 15%;
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
  text-transform:  uppercase;
  height: 600px;
  width: 70%;
  background: #484747;
  border: 6px solid hsl(0, 100%, 50%);
  border-radius: 10px;
  -webkit-animation: rainbow 5s infinite alternate;
  
}

.game-over-screen button {
  width: 180px;
  height: 70px;
  text-transform: uppercase;
  margin-left: 42%;
  margin-top: 1%;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  
}

.game-over-screen h1 {
  font-family: 'Lobster', sans-serif;
  color: #FAFAFA;
  font-size: 40px;
  margin-top: 10%;
}

.game-over-screen h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.game-over-screen {
  color: #FAFAFA;
}

.restart-button {
  background: #8585e0;
  border-radius: 10px;
  border: 2px solid #8585e0;
  color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  width: 180px;
  height: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.change-difficulty-button {
  background: #df80ff;
  border-radius: 10px;
  border: 2px solid #df80ff;
  color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10%;
  width: 180px;
  height: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}


.restart-button:hover {
  transform: scale(1.1);
}
.change-difficulty-button:hover {
  transform: scale(1.1);
}



